[submodule "external/vggt"]
	path = external/vggt
	url = git@github.com:facebookresearch/vggt.git
[submodule "external/gsplat"]
	path = external/gsplat
	url = git@github.com:nerfstudio-project/gsplat.git
