# vggt
# remove nightly specifiers if unneccessary
--pre --extra-index-url https://download.pytorch.org/whl/cu130 
torch
--pre --extra-index-url https://download.pytorch.org/whl/cu130
torchvision
numpy==1.26.1
Pillow
huggingface_hub
einops
safetensors

# demo requirements
gradio==5.17.1
viser==0.2.23
tqdm
hydra-core
omegaconf
opencv-python
scipy
onnxruntime
requests
trimesh
matplotlib
pydantic==2.10.6