[project]
description = ""
name = "mocap-gsplat"
requires-python = ">=3.11"
version = "0.1.0"

# Shared dependencies between gsplat and vggt
dependencies = [
  "torch==2.9.0+cu130",
  "torchvision==0.24.0+cu130",
  "numpy",
  "Pillow",
  "opencv-python",
  "matplotlib",
  "tqdm",
  "viser",
  "tyro",
  "tensorboard",
  "tensorly",
  "pyyaml",
  "scikit-learn",
]

[[tool.uv.index]]
explicit = true
name = "pytorch-cu130"
url = "https://download.pytorch.org/whl/cu130"

[tool.uv.sources]
torch = [
  {index = "pytorch-cu130"},
]
torchvision = [
  {index = "pytorch-cu130"},
]
fused-bilagrid = [
    {index = "pytorch-cu130"}
]

[tool.uv]
default-groups = ["vggt"]
build-constraint-dependencies = ["torch==2.9.0+cu130"]
override-dependencies = ["torch==2.9.0+cu130", "torchvision==0.24.0+cu130"]
environments = ["sys_platform == 'linux'", "sys_platform == 'win32'"]
prerelease = "allow"
preview = true
conflicts = [
  [
    {group = "gsplat"},
    {group = "vggt"},
  ],
]

[tool.uv.extra-build-dependencies]
fused-bilagrid = ["torch"]
fused-ssim = ["torch"]

[dependency-groups]
gsplat = [
  "pycolmap@git+https://github.com/rmbrualla/pycolmap@cc7ea4b7301720ac29287dbe450952511b32125e",
  "fused-ssim@git+https://github.com/rahul-goel/fused-ssim@328dc9836f513d00c4b5bc38fe30478b4435cbb5",
  "fused-bilagrid@git+https://github.com/harry7557558/fused-bilagrid@90f9788e57d3545e3a033c1038bb9986549632fe",
  "torchmetrics[image]",
  "gsplat",
]

vggt = [
  "numpy",
  "huggingface_hub",
  "einops",
  "safetensors",
  "gradio",
  "viser",
  "hydra-core",
  "omegaconf",
  "scipy",
  "onnxruntime",
  "requests",
  "trimesh",
  "pydantic",
  "pyceres",
  "lightglue@git+https://github.com/jytime/LightGlue.git#egg=lightglue",
  "pycolmap>3.1.0",
]