numpy
Pillow
huggingface_hub
einops
safetensors
plyfile

# developer packages
python-json-logger
coloredlogs

# use cpu versions solely for smaller downloaded wheels for release packages
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.8.0+cpu # current `WinError 1114` in latest `2.9.1` branch
torchvision==0.23.0+cpu