### FULL COMMAND:
# `pip download -r <addon_root>/requirements.txt  --dest <addon_root>/wheels/ --only-binary=:all: --python-version=<blender_python_version>`
# refer to `<repo_root>/scripts/build.py` for more info

--extra-index-url https://download.pytorch.org/whl/cpu

numpy
Pillow
huggingface_hub
einops
safetensors
plyfile

opencv-python

# for vggt build deps
setuptools
wheel
packaging

# developer packages
python-json-logger
coloredlogs
python-dotenv

torch; sys_platform == "darwin" # get whatever poor macos users are offered
torchvision; sys_platform == "darwin"

# use cpu versions solely for smaller downloaded wheels in linux and windows releases
torch==2.8.0+cpu; sys_platform == "win32"  # current `WinError 1114` in latest `2.9.1` branch (01-09-2026)
torchvision==0.23.0+cpu; sys_platform == "win32"

torch==2.9.1+cpu; sys_platform == "linux"
torchvision==0.24.1+cpu; sys_platform == "linux"