name: Build & Release Blender Addon

on: push

permissions:
    contents: write

defaults:
    run:
        shell: bash

env:
    ADDON_HUMAN_READABLE: mosplat_blender

jobs:
    build_and_upload:
        strategy:
            fail-fast: false
            matrix:
                os:
                    - name: windows
                      runner: windows-latest
                    - name: macos
                      runner: macos-latest
                    - name: linux
                      runner: ubuntu-latest
                blender_python_version: ["3.11", "3.12"]

        runs-on: ${{ matrix.os.runner }}

        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0
                  fetch-tags: true

            - uses: actions/setup-python@v5
              with:
                  python-version: ${{matrix.blender_python_version}}
            - name: Install Dev Requirements
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt

            - name: Build
              run: |
                  python scripts/build.py --clean --blender_python_version ${{ matrix.blender_python_version }}

            - name: Validate Zip Size
              run: |
                  python scripts/validate.py

            - name: Rename Zip
              run: |
                  mv ${{env.ADDON_HUMAN_READABLE}}.zip \
                     ${{env.ADDON_HUMAN_READABLE}}_${{ github.ref_name }}-py${{ matrix.blender_python_version }}-${{ matrix.os.name }}.zip

            - name: Upload Zip to release
              if: startsWith(github.ref, 'refs/tags/v')
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: ${{ github.ref_name }}
                  files: ${{env.ADDON_HUMAN_READABLE}}_${{ github.ref_name }}-py${{ matrix.blender_python_version }}-${{ matrix.os.name }}.zip
                  fail_on_unmatched_files: true
