name: Build & Release Blender Addon

on:
    push:
        tags:
            - "v*"

jobs:
    release:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                blender_python_version: ["3.10", "3.11", "3.12"]

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.12"

            - name: Build
              run: |
                  python scripts/build.py --clean  --blender_python_version ${{ matrix.blender_python_version }}

            - name: Create release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: ${{ github.ref_name }}-py${{ matrix.blender_python_version }}
                  files: mosplat_blender.zip
